@model System.Services.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}
<div class="row quick-stats">
    <div class="col-md-6">
        <div class="quick-stats__item bg-green">
            <div class="quick-stats__info">
                <small>Categorias Mas Utilizadas</small>
                @foreach (var cate in Model.Categorias.OrderBy(x => x.Cantidad))
                {
                    <h2>@cate.Nombre (@cate.Cantidad)</h2>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="quick-stats__item bg-orange">
            <div class="quick-stats__info">
                <small>Marcas Mas Utilizadas</small>
                @foreach (var marc in Model.Marcas)
                {
                    <h2>@marc.Nombre (@marc.Cantidad)</h2>
                }
            </div>
        </div>
    </div>
</div>
<div class="row quick-stats">
    <div class="col-md-6">
        <div class="quick-stats__item bg-red">
            <div class="quick-stats__info">
                <small>Productos Sin Stock</small>
                @if (Model.ProductosSinStock.Count() > 0)
                {
                    @foreach (var prod in Model.ProductosSinStock)
                    {
                        <h2>@prod</h2>
                    }
                }
                else
                {
                    <h2>No hay productos sin stock</h2>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="quick-stats__item bg-red">
            <div class="quick-stats__info">
                <small>Productos por agotar</small>
                @if (Model.ProductosPorAgotar.Count > 0)
                {
                    @foreach (var prod in Model.ProductosPorAgotar)
                    {
                        <h2>@prod</h2>
                    }
                }
                else
                {
                    <h2>No hay productos por agotar</h2>
                }
            </div>
        </div>
    </div>
</div>

