@using System.Backend.Models
@using System.Services.Models
@model System.Services.Models.ProductoViewModel

@{
    ViewData["Title"] = "Editar Producto";
    var selectMarca = (IEnumerable<SelectListItem>)ViewData["Marca"];
    var selectCategoria = (IEnumerable<SelectListItem>)ViewData["Categoria"];
}

<link href="~/css/rol_style.css" rel="stylesheet" />
<header class="content__title">
    <h1>@ViewBag.Title</h1>
    <div class="actions">
        <a href="@Url.Action("Index", "Producto")" class="actions__item zmdi zmdi-arrow-left text-danger" title="Volver"></a>
    </div>
</header>

@using (Html.BeginForm("Edit", "Producto", FormMethod.Post, new { role = "form" }))
{
    <div class="card">
        <div class="card-block">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ProductoId)
            <div class="row">
                <div class="col-md-6">
                    @Html.ValidationMessageFor(model => model.Nombre, null, new { @class = "text-danger" })
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", tabindex = "1" })
                        <label>Nombre</label>
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.BreveDescripcion, new { @class = "form-control", tabindex = "2" })
                        <label>Breve Descripcion</label>
                        <i class="form-group__bar"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.Precio, new { @class = "form-control", type = "number", tabindex = "3" })
                        <label>Precio</label>
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.Codigo, new { @class = "form-control", tabindex = "4" })
                        <label>Codigo</label>
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group--float">

                        @Html.TextBoxFor(model => model.Cantidad, new { @class = "form-control", type = "number", tabindex = "5" })
                        <label>Cantidad</label>
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-control select2" id="estado" name="Estado" tabindex="6">
                        <option>Seleciona un estado</option>
                        <option value="1">EN STOCK</option>
                        <option value="0">SIN STOCK</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.DropDownList("MarcaId", selectMarca, "-Seleccione Marca-", new { @class = "form-control select2", tabindex = "7" })
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("CategoriaId", selectCategoria, "-Seleccione Categoria-", new { @class = "form-control select2", tabindex = "8" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group--float">
                        @Html.TextArea("Descripcion", null, new { @class = "form-control", tabindex = "9" })
                        <label>Descripción</label>
                        <i class="form-group__bar"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-auto">
            <button type="submit" id="#submit-btn" class="btn btn-primary btn--icon-text waves-effect text-white btn-loading">
                <i class="zmdi zmdi-save"></i>
                Guardar
            </button>
        </div>
    </div>

}
