@using System.Backend.Models
@model System.Services.Models.VentaViewModel
@{
    ViewBag.Title = "Nueva Venta";
    var selectCategorias = (IEnumerable<SelectListItem>)ViewData["Categorias"];
    var selectMarcas = (IEnumerable<SelectListItem>)ViewData["Marcas"];
}
<link href="~/css/rol_style.css" rel="stylesheet" />
<style>
    tr {
        box-shadow: 5px 2px 2px #888888;
    }

    @@media print {
        #recibo {
            display: block;
        }
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-12 {
        width: 100%;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
</style>
<header class="content__title">
    <h1>@ViewBag.Title</h1>
</header>
<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Categorias</label>
                    <select asp-for="CategoriaId" class="form-control select2 select2-hidden-accessible required" asp-items="selectCategorias">
                        <option value="" selected>- Seleccione -</option>
                    </select>
                    <i class="form-group__bar"></i>
                </div>
                <span asp-validation-for="CategoriaId" id="validationErrorProvincia" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Marcas</label>
                    <select asp-for="MarcaId" class="form-control select2 select2-hidden-accessible required" asp-items="selectMarcas">
                        <option value="" selected>- Seleccione -</option>
                    </select>
                    <i class="form-group__bar"></i>
                </div>
                <span asp-validation-for="MarcaId" id="validationErrorProvincia" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Productos</label>
                    <select asp-for="ProductoId" class="form-control select2 select2-hidden-accessible required" asp-items="@(new SelectList(string.Empty, "ProductoId","Nombre"))"></select>
                    <i class="form-group__bar"></i>
                </div>
                <span asp-validation-for="ProductoId" id="validationErrorLocalidad" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>
<form asp-action="Create" asp-controller="Marca" method="post" id="CreateMarcaForm">
    @Html.AntiForgeryToken()
    
    <div class="row justify-content-end">
        <div class="col-auto">
            <button id="submit-btn" class="btn btn-primary btn--icon-text waves-effect float-right" tabindex="2">
                <i class="zmdi zmdi-save"></i>
                Guardar
            </button>
        </div>
    </div>
</form>

<script>
    //$("#submit-btn").click(function (event) {
    //    event.preventDefault();
    //    if ($("#CreateMarcaForm").valid() && !exist) {
    //        $("#submit-btn").html("<i class='zmdi zmdi-spinner fa-spin'></i> Procesando...");
    //        $("#submit-btn").addClass("disabled");
    //        document.getElementById("submit-btn").style.pointerEvents = "none";
    //        $("#CreateMarcaForm").submit();
    //    }
    //});
    var items = "<option value=''> -Seleccione- </option>";
    $(document).ready(function () {
        $("#MarcaId").prop("disabled", true);
        $("#ProductoId").html(items);
        $(".select").select2({ width: '100%', dropdownCssClass: 'no-search' });
        $('.js-example-basic-single').select2({ width: '100%', dropdownCssClass: 'no-search' });
        $("#ProductoId").prop("disabled", true);
    })
    $("#recibo").hide();
    $("#CategoriaId").change(function () {
        $("#MarcaId").prop("disabled", false);
        $("#MarcaId").change(function () {
            var url = '@Url.Action("GetProductos", "Venta")';
            var categoriaId = "#CategoriaId";
            var marcaId = "#MarcaId";
            $.getJSON(url, { categoriaId: $(categoriaId).val(), marcaId: $(marcaId).val() }, function (data) {
                var items = '';
                $('#ProductoId').empty();
                items = "<option value=''>-Seleccione-</option>"
                $.each(data, function (i, producto) {
                    items += "<option value='" + producto.value + "'>" + producto.text + "</option>";
                });
                $("#ProductoId").html(items);
                $("#ProductoId").prop("disabled", false);
            });
        });
    });

    $("#ProductoId").change(function () {
        $.ajax({
            url: '@Url.Action("GetDataProducto", "Venta")',
            data: { ProductoId: $("#ProductoId").val() },
            success: function (data) {
                $("#recibo").show();
                $("#CategoriaId").val("").trigger("change");
                $("#MarcaId").val("").trigger("change");
                $("#MarcaId").prop("disabled", true);
                $("#ProductoId").html(items);
                $(".select").select2({ width: '100%', dropdownCssClass: 'no-search' });
                $('.js-example-basic-single').select2({ width: '100%', dropdownCssClass: 'no-search' });
                $("#ProductoId").prop("disabled", true);
                $("#descripcion").append("<div class=col-md-6><span><b>" + data.nombre + "</b></span></div>");
                $("#importe").append("<div class=col-md-6><span><b>" + data.monto + "</b></span></div>");
            }
        });
    });
    function ImprimirQR() {
        $("#recibo").print();
    }
</script>
